#pagcinza{
    background-color: rgb(188, 186, 186);
}

#pagverde{
    background-color: rgb(88, 218, 116);
}

#ttlverde{
    color: rgb(0, 121, 0);
}

#pgfverde{
    color: rgb(0, 121, 0);
}
#pagamarela{
    background-color: rgb(246, 246, 110);
}

#textosamarelo{
    color: rgb(170, 170, 0);
    
}

