body{
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    margin: 0;
}

.item{


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}