@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: Droids;
    src: url('IDroid.otf');
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #3DDC84;
}

a{
    color: #02692f;
    text-decoration: solid;
    font-weight: bold
}

a:hover {
    color:#81e9b0
}

/* Header */

header{
    margin: 0px; 
    padding: 20px;
    background-image: linear-gradient(to top, #063D1E, #2fa866, #3ddc84);
    color: white;  
}
header > h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.0em
    }

header > p{
    text-align: center;
    margin-bottom: 30px;

}
nav{
    background-color: #063D1E;
}
nav > a{
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

}
nav > a:hover{
    background-color: #2fa866;
    color: white;
    border-radius: 5px;

}

/* Header */

/* Main */
    
    main{
        min-width: 400px;
        max-width: 800px;
        margin: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    }
    article{
        background-color: white;
        margin: auto;
        padding: 10px;
    }

    article > h1, h2{
        font-family: 'Droids', Arial, Helvetica, sans-serif;
        color: #2fa866;
    }
    article > h1{
        font-size: 2.0em;
    }
    article > h2{
        background-color: #C5EBD6;
        padding: 8px;
    }
    article > p{
        text-align: justify;
        text-indent: 1.5em;
    }
    img{
        display: block;
        margin: auto;
        text-align: center;
    }
    article > aside{
        background-color: #063D1E;
        margin: auto;
        margin-bottom: 15px;
        text-align: center;
        padding: 20px;
    }
    article > .maisinfo{
        background-color:#81e9b0;
        border-radius: 0px 0px 10px 10px;
        margin: auto;
        padding: 15px;
        text-align: justify;

    }

    h3{
        color: white;
        background-color: #2fa866;
        text-align: justify;
        padding: 20px;
        margin: auto;
        border-radius: 10px 10px 0px 0px;
    }

    .maisinfo > .lista{
        list-style-type: none;
        display: inline-block;
        padding-right: 100px;
        text-align: justify;
        margin: 0px;
        padding: 0px 100px 0px 0px;
        
    }
    .maisinfo > p{
        text-indent: 1.5em;
    }

/* Main */


/* Footer */
footer{
    background-color: #063D1E;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

footer > p{
    margin: 0px;
}
/* Footer */