body{
    background-color: black;
}

#videos{
    text-align: center;
}

#ttlcurso{
    text-align: center;
    color: white;
}

#pgfcurso{
    color: white;
    text-align: center;
}

#videocenter{
    text-align: center;
}

#voltar{
    text-align: center;
    
}